# --- Interface et Web ---
streamlit
requests

# --- Intelligence Artificielle et Calcul ---
torch
numpy
transformers
faiss-cpu

# --- Parsing de fichiers et Data ---
PyPDF2
python-docx
pandas

# --- Audio (Optionnel selon usage) ---
SpeechRecognition
